@model ResultManagement.Models.Core.Unit

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Unit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UnitCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitCordinator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitCordinator)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PdfTitle)
        </dt>

        <dd>
            <a href="@Url.Content(Model.PdfPath)"> @Html.DisplayFor(model => model.PdfTitle)</a>
</dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
