@model ResultManagement.Models.Core.Result

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Result</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UnitCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Semester)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Semester)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssessmentScore1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssessmentScore1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssessmentScore2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssessmentScore2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExamScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExamScore)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImgFile)
        </dt>

        <dd>
            <img src="@Url.Content(Model.ImgPath)" alt="profile picture" style="height:250px;width:250px;margin-bottom:10px" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
