@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/Site.css" rel="stylesheet" />
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    if (User.IsInRole("Admin"))
    {
        <div class="container pad">
            <div class="row">
                <div class="col-lg-4">
                    <a href="@Url.Action("index","units")">
                        <div class="cards">
                            <p class="text-center text-capitalize">View All Units</p>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4">
                    <a href="@Url.Action("create","units")">
                        <div class="cards">
                            <p class="text-center text-capitalize">Add Unit</p>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4"></div>
            </div>
        </div>
    }
    else if (User.IsInRole("Manager"))
    {
        <div class="container pad">
            <div class="row">
                <div class="col-lg-4">
                    <a href="@Url.Action("index","results")">
                        <div class="cards">
                            <p class="text-center text-capitalize">View Results</p>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4">
                    <a href="@Url.Action("create","results")">
                        <div class="cards">
                            <p class="text-center text-capitalize">Add Results</p>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4"></div>
            </div>
        </div>
    }
}
else
{
    <div class="container" style="padding-top:50px">
        <div class="row">
            <div class="col-md-6 " style="padding:0 10%">
                <h1>Welcome to result manager</h1>
                <br />
                <h3>Manage all results and units.</h3>
                <p>please <a href="@Url.Action("login","Account")"class="btn btn-info">login</a> to use </p>
            </div>
            <div class="col-md-6">
                <img src="https://miro.medium.com/max/3200/0*z43TuPXCcl_-RizQ.jpg" alt="manager pic" style="width:45vw;" />
            </div>
        </div>
    </div>

}